# https://github.com/defra/biodiversity-net-gain-service

variables:
  - name: TAG
    value: latest #$(Build.SourceVersion)-$(Build.BuildId) TODO make an appropriate versioning tag

trigger:
- master

pool:
  name: Azure Pipelines

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '16.x'
  displayName: 'Install Node.js'

- script: |
    npm ci --ignore-scripts && npm run lerna:ci
  displayName: 'npm ci in packages'

- script: |
    cd $(System.DefaultWorkingDirectory)/packages/application-to-register-functions && \
    zip -rq func.zip .
    cp func.zip $(Build.ArtifactStagingDirectory)/application-to-register-functions.zip
  displayName: 'Create function artifact'

- script: |
    docker-compose -f docker/services.build.azure.yml build
    docker save ${CONTAINER_REGISTRY}/application-to-register-webapp:${TAG} > web.tar
    cp web.tar $(Build.ArtifactStagingDirectory)/application-to-register-webapp.tar
  displayName: 'Build webapp image and output to tar'

- task: UniversalPackages@0
  inputs:
    command: 'publish'
    publishDirectory: '$(Build.ArtifactStagingDirectory)'
    feedsToUsePublish: 'internal'
    vstsFeedPublish: 'b8802fc2-0825-411a-b9de-b129decae388'
    vstsFeedPackagePublish: 'biodiversity-get-gain-service'
    versionOption: 'patch'
    packagePublishDescription: 'BNG application code artifacts'