body {
	font-family: arial, sans-serif;
	margin: 0px
}

header {
	background: #0b0c0c;
	border-bottom: 10px solid #fff;
}

.header {
	margin-bottom: -10px;
	padding-top: 0.5em;
	height: 3em;
	color: #fff;
	font-size: 1.5em;
	font-weight: 700;
	max-width: 1020px;
	margin-left: auto;
	margin-right: auto;
	border-bottom: 10px solid #1d70b8;
}

.header-link {
	text-decoration: none;
	color: #fff;
}

a:hover {
	text-decoration: underline;
}

.logo {
	font-size: 30px;
	display: block;
	clear: right;
}

.logo>svg {
	vertical-align: top
}

.main-content {
	padding-left: 4px;
	padding-right: 4px;
	max-width: 1020px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}


.two-thirds {
	box-sizing: border-box;
	width: 100%;
	padding: 0 15px;
}

.main-title {
	font-size: 1.4em;
	font-weight: 700;
}

.main-text {
	font-size: 1.2em;
	line-height: 1.5em;
}

.main-text>h2 {
	font-size: 1em;
}

.footer-width-container {
    max-width: 960px;
    margin-right: 15px;
    margin-left: 15px;
}

.govuk-footer__meta {
    display: -ms-flexbox;
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: end;
    align-items: flex-end;
    -ms-flex-pack: center;
    justify-content: center;
}

.govuk-footer__meta-item--grow {
	-ms-flex: 1;
	flex: 1;
}

.govuk-footer__meta-item {
	margin-right: 15px;
	margin-bottom: 25px;
	margin-left: 15px;
}

.govuk-footer__meta-item {
	margin-right: 15px;
	margin-bottom: 25px;
	margin-left: 15px;
}

.govuk-visually-hidden {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	margin: 0 !important;
	padding: 0 !important;
	overflow: hidden !important;
	clip: rect(0 0 0 0) !important;
	-webkit-clip-path: inset(50%) !important;
	clip-path: inset(50%) !important;
	border: 0 !important;
	white-space: nowrap !important;
}

.govuk-footer__inline-list {
	margin-top: 0;
	margin-bottom: 15px;
	padding: 0;
}

.govuk-footer__inline-list-item {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 5px;
}

.govuk-footer__link {
	font-family: "Arial", sans-serif !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-decoration: underline;
}

.govuk-footer__licence-logo {
	display: inline-block;
	margin-right: 10px;
	vertical-align: top;
	forced-color-adjust: auto;
}

.govuk-footer__licence-description {
	display: inline-block;
}

.govuk-footer__link:link, .govuk-footer__link:visited {
	color: #0b0c0c;
}

a:link, .govuk-link:link {
	color: #1d70b8;
}
.govuk-footer__link:link, .govuk-footer__link:visited {
	color: #0b0c0c;
}
.govuk-footer__link {
	font-family: "Arial", sans-serif !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-decoration: underline;
}
a, .govuk-link {
	font-family: "Arial", sans-serif !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-decoration: underline;
}

.govuk-footer__meta-item {
	margin-right: 15px;
	margin-bottom: 25px;
	margin-left: 15px;
}

.govuk-footer__copyright-logo {
	display: inline-block;
	min-width: 125px;
	padding-top: 112px;
	background-image: url(/public/images/govuk-crest.png);
	background-repeat: no-repeat;
	background-position: 50% 0%;
	background-size: 125px 102px;
	text-align: center;
	white-space: nowrap;
}

@media (min-width: 1020px) {
	@supports (margin: max(calc(0px))) {
		.govuk-width-container {
				margin-right: auto;
				margin-left: auto;
		}
	}
}
@media (min-width: 1020px) {
	.govuk-width-container {
			margin-right: auto;
			margin-left: auto;
	}
}
@media (min-width: 40.0625em) {
	@supports (margin: max(calc(0px))) {
		.govuk-width-container {
				margin-right: max(30px, calc(15px + env(safe-area-inset-right)));
				margin-left: max(30px, calc(15px + env(safe-area-inset-left)));
		}
	}
}
@media (min-width: 40.0625em) {
	.govuk-width-container {
			margin-right: 30px;
			margin-left: 30px;
	}
}
@supports (margin: max(calc(0px))) {
	.govuk-width-container {
			margin-right: max(15px, calc(15px + env(safe-area-inset-right)));
			margin-left: max(15px, calc(15px + env(safe-area-inset-left)));
	}
}
.govuk-width-container {
    max-width: 960px;
    margin-right: 15px;
    margin-left: 15px;
}

@media (min-width: 1020px) {
	@supports (margin: max(calc(0px))) {
		.footer-width-container {
				margin-right: auto;
				margin-left: auto;
		}
	}
}

@media (min-width: 1020px){
	.footer-width-container {
			margin-right: auto;
			margin-left: auto;
	}
}
@media (min-width: 40.0625em) {
	@supports (margin: max(calc(0px))) {
		.footer-width-container {
				margin-right: max(30px, calc(15px + env(safe-area-inset-right)));
				margin-left: max(30px, calc(15px + env(safe-area-inset-left)));
		}
	}
}
@media (min-width: 40.0625em) {
	.footer-width-container {
			margin-right: 30px;
			margin-left: 30px;
	}
}
@supports (margin: max(calc(0px))) {
	.footer-width-container {
			margin-right: max(15px, calc(15px + env(safe-area-inset-right)));
			margin-left: max(15px, calc(15px + env(safe-area-inset-left)));
	}
}

@media (min-width: 40.0625em) {
	.footer {
		padding-bottom: 25px;
	}
}

@media (min-width: 40.0625em) {
	.footer {
		padding-top: 40px;
	}
}

@media (min-width: 40.0625em) {
	.footer {
		font-size: 16px;
		font-size: 1rem;
		line-height: 1.25;
	}
	.two-thirds {
		width: 66%;
		padding: 0 15px;
	}

	.header {
		height: 1.8em;
	}

	.logo {
		display: inline;
	}
}

.footer {
	font-family: "Arial", sans-serif !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 400;
	font-size: 14px;
	font-size: 0.875rem;
	line-height: 1.1428571429;
	padding-top: 25px;
	padding-bottom: 15px;
	border-top: 1px solid #b1b4b6;
	color: #0b0c0c;
	background: #f3f2f1;
}