// Change the default location where scss generated assets are server from
$govuk-assets-path: '/public/';
$govuk-images-path: '#{$govuk-assets-path}images/';
$govuk-fonts-path: '#{$govuk-assets-path}fonts/';
$govuk-global-styles: true;

@import "node_modules/govuk-frontend/govuk/all";
@import "node_modules/@ministryofjustice/frontend/moj/all";

//OL Mapping
.map {
  border: 1px solid #b1b4b6;
  height: 468px;
  margin-bottom: 20px;
  position: relative;
  width: 100%;

  &:focus {
    outline: 0 !important;
  }

  .ol-viewport {
    height: 400px !important;
  }

  @include govuk-media-query($from: tablet) {
    height: 678px;

    .ol-viewport {
      height: 600px !important;
    }
  }
}

.ol-control button {
  color: #626a6e !important;
  background-color: white !important;
  font-size: 1.5em !important;
}

.ol-control {
  background-color: rgba(98, 106, 110, 0.5) !important;
  border-radius: 0 !important;
  padding: 0 !important;
}

.map-coordinates{
  @include govuk-font($size: 16);
  @include govuk-text-colour;
  background-color: rgba(255, 255, 255, 0.7) !important;
  border: 1px solid rgba(98, 106, 110, 0.5);
  bottom: 4em;
  padding: 10px;
  position: absolute;
  left: .5em;
  width: 130px;
  z-index: 999;

  @include govuk-media-query($until: desktop) {
    display: none;
  }
}

.ol-zoom .ol-zoom-in {
  border-radius: 2px 2px 0 0;
}

.ol-full-screen {
  display: none;
}

.map--location {
  height: auto;

  .ol-viewport {
    height: 300px !important;
  }
}

//gov uk Task list pattern
.app-task-list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  @include govuk-media-query($from: tablet) {
    min-width: 550px;
  }
}

.app-task-list__section {
  display: table;
  @include govuk-font($size:24, $weight: bold);
}

.app-task-list__section-number {
  display: table-cell;

  @include govuk-media-query($from: tablet) {
    min-width: govuk-spacing(6);
    padding-right: 0;
  }
}

.app-task-list__items {
  @include govuk-font($size: 19);
  @include govuk-responsive-margin(9, "bottom");
  list-style: none;
  padding-left: 0;
  @include govuk-media-query($from: tablet) {
    padding-left: govuk-spacing(6);
  }
}

.app-task-list__item {
  border-bottom: 1px solid $govuk-border-colour;
  margin-bottom: 0 !important;
  padding-top: govuk-spacing(2);
  padding-bottom: govuk-spacing(2);
  @include govuk-clearfix;
}

.app-task-list__item:first-child {
  border-top: 1px solid $govuk-border-colour;
}

.app-task-list__task-name {
  display: block;
  @include govuk-media-query($from: 450px) {
    float: left;
  }
}

// The `app-task-list__task-completed` class was previously used on the task
// list for the completed tag (changed in 86c90ec) – it's still included here to
// avoid breaking task lists in existing prototypes.
.app-task-list__tag,
.app-task-list__task-completed {
  margin-top: govuk-spacing(2);
  margin-bottom: govuk-spacing(1);

  @include govuk-media-query($from: 450px) {
    float: right;
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media (min-width: 40.0625em) {
  .app-task-list__items {
    padding-left: 00px;
  }
}

.hidden{
  display: none !important;
}

.govuk-summary-list__key,
.govuk-summary-list__actions {
  vertical-align: top;
}

// Save and return

.app-save__wrapper {
  min-height: 40px;
  position: relative;
}

.app-save {
  margin-top: govuk-spacing(2);
  position: absolute;
  right: 0;
  top: 3px;
  text-align: right;
}

// Secondary text colour
.app-secondary-text-colour {
  color: #505a5f;
}

.wrap-text{
  overflow-wrap: anywhere;
}