// Change the default location where scss generated assets are server from
$govuk-assets-path: '/public/';
$govuk-images-path: '#{$govuk-assets-path}images/';
$govuk-fonts-path: '#{$govuk-assets-path}fonts/';
$govuk-global-styles: true;

@import "node_modules/govuk-frontend/govuk/all";
@import "node_modules/@ministryofjustice/frontend/moj/all";

#map {
  margin: 0;
  height: 50vh;
  width: 100%;
  font-family: sans-serif;
  background-color: #fafafa;
}

.map-coordinates{
  @include govuk-font($size: 16);
  @include govuk-text-colour;
  background-color: rgba(255, 255, 255, 0.7) !important;
  border: 1px solid rgba(98, 106, 110, 0.5);
  padding: 10px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  position: relative;
  width: 15em;
  z-index: 999;

  @include govuk-media-query($until: desktop) {
    display: none;
  }
}

