version: "3.9"
secrets:
  POSTGRES_PASSWORD:
    file: ./secrets/POSTGRES_PASSWORD
services:
  ##############################################################################################################
  # Redis - on port 6379
  ##############################################################################################################
  redis:
    image: redis:6.2
    ports:
      - "6379:6379"
    volumes:
      - ./volumes/redis:/data
    deploy:
      restart_policy:
        condition: on-failure

  # ##############################################################################################################
  # # Postgres + Postgis on port 5432
  # ##############################################################################################################
  postgis:
    image: postgis/postgis:13-3.2-alpine
    user: "postgres"
    ports:
      - "5432:5432"
    environment:
      - PGDATA=/var/lib/postgresql/data
      - POSTGRES_PASSWORD_FILE=/run/secrets/POSTGRES_PASSWORD
    secrets:
      - POSTGRES_PASSWORD
    volumes:
      - ./volumes/postgis:/var/lib/postgresql/data
      - ./src/postgis/init.sql:/docker-entrypoint-initdb.d/init.sql

  ##############################################################################################################
  # Geoserver on port 8080
  ##############################################################################################################
  # geoserver:
  #   image: oscarfonts/geoserver
  #   environment:
  #     # Set UID/GID for container to match host, unix user defaults to 1000 but set env vars UID or GID to use your own
  #     - CUSTOM_UID=${UID:-1000}
  #     - CUSTOM_GID=${GID:-1000}
  #   volumes:
  #     - ./volumes/geoserver:/var/local/geoserver
  #   ports:
  #     - "8080:8080"

  ##############################################################################################################
  # Azure Functions Core Tools on port 8072
  # Azure SignalR emulator on port 8888
  ##############################################################################################################
  # azure_services:
  #   build:
  #     context: ..
  #     dockerfile: docker/azure-services/Dockerfile
  #   ports:
  #     - "8082:7071"
  #     - "8888:8888"
  ##############################################################################################################
  # Azurite blob service emulator on port 10000
  # Azurite queue service emulator on port 10001
  ##############################################################################################################
  azurite:
    image: mcr.microsoft.com/azure-storage/azurite
    hostname: azurite
    command: "azurite --blobHost 0.0.0.0 --queueHost 0.0.0.0"
    ports:
      - "10000:10000"
      - "10001:10001"
