on:
  # Trigger analysis when pushing in master or pull requests, and when creating
  # a pull request.
  push:
    branches:
      - master
  pull_request:
      types: [opened, synchronize, reopened]
name: Main Workflow
jobs:
  sonarcloud:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
      with:
        # Disabling shallow clone is recommended for improving relevancy of reporting
        fetch-depth: 0
    - name: Install NodeJS
      uses: actions/setup-node@v1
      with:
        node-version: "16.x"
    - name: Install dependencies
      run: npm ci
    - name: Run markdown linting check
      run: |
        node_modules/.bin/markdownlint $PWD/README.md '$PWD/!(docker)/**/*.md'
    - name: Build test dependencies
      run: npm run docker:build-dev-infrastructure
    - name: Start test dependencies
      run: npm run docker:start-dev-infrastructure
    - name: Run tests
      run: npm run test
    - name: Tear down test dependencies
      run: npm run docker:stop-dev-infrastructure
    - name: SonarCloud Scan
      uses: sonarsource/sonarcloud-github-action@master
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}